sudo: required
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: "46.0"
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install web-component-tester
- npm install bower
- export PATH=$PWD/node_modules/.bin:$PATH
- bower install
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
env:
  global:
  - secure: TkQ1HTq3zzmKlveFXjzPwDSmE3n0MyrQZAUZNqK7QsHRktb1bclaHQ03h7Gjm8EIN3Ht/Df/QQZomZGo8rz9zo5cAh4tm8TGDlN9lIPvtmddqRtZJuWX/2Gxm7x5KFic1nKsbwkPSN1e57hJz/tRWtPpJD1FoWegA68fK1pvq+ckOz2pd1vpxYIq2VygLnudlBq2d2QqPQTmyapphlVnSA8RPQDFdtUodPf0F4FbuqEsvwQu4n0iNYyavg7qVD/SgBU9z1zVb/CUtZktW3zjrud7tOyHF/jMbrxApi4dmV4Tm8vi6EOvw1hrdhqWNUYs8hj1W/DMgwoTY5ch8oyOjR40Pt8mS/Ejk4iSWJV9IJa9vkGlwVDYl4o2x0iEjFNUttyWUlZ3WXP8OQt6cK+6+vJ/dJHkLgjaSHamOaMIAGHRUnlT8yHZf6VsiOWWwKBsMnh75niNkzqO2OC+b6YNNL+JzC/8COBEPgp9ddwZoP5AdiYUB3OQY0BFxeVcTnCXE5ASblqynKT/stwuyXaTw+wCdc0dikzFnYtew6cZ6Gck9x9Sj+WKcEAuIzx3/Fkc87WwcYX3CKK3jvr/de1OnWYK15yApWN/vAMU65Q1nGkwYx/JXlbOmxeG516AnWmHuz4+MA4VqzyBrYa2D9QcohaR38zBPxK6fc3MT9Xd9LE=
  - secure: iIzZc/Wcx2VpFjGSRqmp7XD5cR0QWoqIbiVIUk/PaWmzVodEvAfxqkYvu/tcoJijrRB5mbdqy2TkVRgNj7oZCEuQcpgTJjOoTZf1cZqew4ttal6Ew9s/JZb/cosR6xk8Tv00zMSoP84vrS2c49/Q+V6eLwG1fOp2Bl2FI4xpX2QrDfSqvjbS+5+jVrToILEGj+Lh3hXcCRZPNNa3cJbRljdvxC6SbzJ1R2sC8A+vQrq1UA/AIIyboYk5lLHfY3NJsLADgtqiK6Z7p5O7wicSwUnkqCCfCe8ugWYQc8jzVLaZsNxpmqAGxAJIa7AYHGD6S9Q3IeKs8RLxb85IWi4aMI8UES9HkK999KJPDzrfAwVTw6w86PZyK3KvafxEEsC2dUHoM12Egdo9jZSXnvA1XLxmBoye86d4aeaOdzFsY4Mu6JzgfCVBG8uRaJprsa9KiaHec/DZ30Or9hjJcupyuA5Py6CfnZLy85+BH6LcB3SzVFszEEB7IwPX0fg/UpGi5IwfmQkid027W6ooYokZgluTqQs7McPLrvDnFVF2fSTCq41vl9fM13FKA2rfGb97TfrR7bmd2VFwvqthSzon7HODY3g3vKM8inEBPy+Co63km5nlp/WPcq4G2YiexB5y+Cs8Axyr5/EDnQGPJicMpzolZ6ioNmeCDWBtAQ3V3XE=
before_install:
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$password" -in id_rsa.enc -out deploy_key -d; fi
after_success:
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
